# Environment Configuration
NODE_ENV="development" # Options: 'development', 'production'
PORT="8080"            # The port your server will listen on
HOST="localhost"       # Hostname for the server

# CORS Settings
CORS_ORIGIN="http://localhost:*" # Allowed CORS origin, adjust as necessary

# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS="1000" # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS="20" # Max number of requests per window per IP

SUBSCRIPTION_RATE_LIMIT_WINDOW_MS=
SUBSCRIPTION_RATE_LIMIT_MAX_REQUESTS=


MONGODB_URI="" # MongoDB connection string

OPENAI_API_KEY="your-openai-api-key" # Your OpenAI API key
OPENAI_API_URL="https://generativelanguage.googleapis.com/v1beta/openai/" # example: google gemini
OPENAI_API_MODEL="gemini-2.5-pro-exp-03-25" # example: google gemini model

MAILGUN_API_KEY="your-mailgun-api-key" # Your Mailgun API key
MAILGUN_DOMAIN="your-mailgun-domain" # Your Mailgun domain